* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F7F3;
    color: #333333;
}


/* menu lateral */

.dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 185px;
    min-height: 100vh;

    background-color: #FCFBF7;
    border-right: 1px solid #E6E6E6;

    padding: 40px 18px;
}

.logo-area {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 52px;
}

.logo-area img {
    width: 38px;
    height: auto;

    object-fit: contain;
}


/* menu */

.sidebar nav {
    display: flex;
    flex-direction: column;

    gap: 9px;
}

.menu-item {
    display: flex;
    align-items: center;

    gap: 11px;

    width: 100%;
    height: 37px;

    padding: 0 14px;

    border: 1px solid #DDDDDD;
    border-radius: 6px;

    text-decoration: none;

    color: #555555;

    font-size: 10px;
}

.menu-item img {
    width: 18px;
    height: 18px;

    object-fit: contain;

    filter: contrast(1.4);
}

.menu-item:hover {
    background-color: #FFF4C7;
}

.menu-item.ativo {
    background-color: #FFE477;
    border-color: #FFE477;

    color: #333333;
}


/* conteúdo */

.conteudo {
    width: calc(100% - 185px);
}


/* topo */

.topo {
    height: 80px;

    background-color: white;
    border-bottom: 1px solid #EEEEEE;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
}

.usuario {
    display: flex;
    align-items: center;

    gap: 10px;

    font-size: 13px;
}

.notificacao {
    width: 20px;
    height: 20px;

    object-fit: contain;

    margin-right: 15px;

    filter: contrast(1.4);
}

.avatar {
    width: 36px;
    height: 36px;

    border-radius: 50%;

    background-color: #FFD83D;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
}


/* conteúdo principal */

.principal {
    padding: 40px;
}


/* cabeçalho */

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;
}

.cabecalho h1 {
    font-size: 28px;
    font-weight: 600;

    margin-bottom: 3px;
}

.cabecalho p {
    font-size: 13px;

    color: #888888;
}


/* botões */

.acoes {
    display: flex;

    gap: 12px;
}

.acoes button {
    height: 42px;

    padding: 0 20px;

    border: none;
    border-radius: 8px;

    font-family: 'Poppins', sans-serif;
    font-size: 12px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
}

.registrar {
    background-color: #FEBA25;

    color: #333333;
}

.coleta {
    background-color: #EEEEEE;

    color: #555555;
}

.coleta img {
    width: 20px;
    height: 20px;

    object-fit: contain;
}


/* cards */

.cards {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 12px;

    margin-bottom: 30px;
}

.card {
    height: 135px;

    background-color: white;

    border: 1px solid #EEEEEE;
    border-radius: 14px;

    padding: 18px 20px;

    position: relative;

    overflow: hidden;
}

.card-titulo {
    display: flex;
    align-items: center;

    gap: 8px;

    color: #666666;

    font-size: 11px;

    position: relative;

    z-index: 1;
}

.card-titulo img {
    width: 25px;
    height: 25px;

    object-fit: contain;
}

.card strong {
    display: block;

    margin-top: 25px;

    font-size: 24px;
    font-weight: 500;

    color: #333333;

    position: relative;

    z-index: 1;
}

.card strong span {
    margin-left: 3px;

    font-size: 13px;

    color: #999999;
}


/* Icones grandes dos cards */

.card::after {
    content: "";

    position: absolute;

    width: 120px;
    height: 120px;

    right: -15px;
    bottom: -25px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.12;
}

.card.agua::after {
    background-image: url("../agua.png");
}

.card.oleo::after {
    background-image: url("../oleo.png");
}

.card.co2::after {
    background-image: url("../co2.png");
}

.card.biodiesel::after {
    background-image: url("../biodiesel.png");
}


/* gráfico */

.grafico {
    position: relative;

    width: 100%;
    height: 240px;

    background-color: white;

    border: 1px solid #EEEEEE;
    border-radius: 14px;

    padding: 32px 40px;

    overflow: hidden;
}

.grafico-info {
    position: relative;

    z-index: 2;
}

.grafico-info h2 {
    font-size: 21px;
    font-weight: 600;

    line-height: 1;
}

.grafico-info h2 span {
    font-size: 11px;

    color: #999999;
}

.grafico-info p {
    font-size: 10px;

    color: #888888;

    margin-top: 5px;
}


/* área do gráfico*/

.grafico-area {
    position: absolute;

    left: 40px;
    right: 190px;
    top: 105px;
    bottom: 20px;

    height: auto;
    width: auto;

    margin: 0;
}


/*barras*/

.barras {
    position: absolute;

    left: 0;
    right: 45px;
    bottom: 18px;

    height: 120px;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    gap: 0;

    padding: 0;
}

.barra-item {
    width: 34px;
    height: 120px;

    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: center;

    gap: 6px;
}

.barra {
    width: 34px;

    background-color: #FEBA25;

    border-radius: 7px 7px 4px 4px;
}


/* tamanho das barras */

.janeiro {
    height: 55px;
}

.fevereiro {
    height: 20px;
}

.marco {
    height: 47px;
}

.abril {
    height: 65px;
}

.maio {
    height: 42px;
}

.junho {
    height: 77px;
}

.julho {
    height: 110px;
}


/* meses */

.barra-item span {
    font-size: 9px;

    color: #777777;
}


/*escala */

.escala {
    position: absolute;

    right: 0;
    top: 0;

    height: 120px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.escala span {
    font-size: 9px;

    color: #888888;
}


/* logo do gráfico */

.logo-grafico {
    position: absolute;

    width: 175px;
    height: 175px;

    right: 5px;
    bottom: -25px;

    object-fit: contain;

    opacity: 0.12;

    transform: rotate(-12deg);
}